*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
    background-color: rgb(44, 42, 42);
    
      
}

#container{
    width: auto;
    display: flex;
    flex-direction: column;
    background-color: white;
}

.row{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.cell{
    height: 20px;
    width: 20px;
    
}

button{
    padding: 15px;
    background-color: cornflowerblue;
    border-radius: 5px;
    margin-bottom: 20px;
    font-size: 20px;
}